@media screen and (max-width: 600px) {
  body {
    max-width: 100%;
    font-size: 0.8rem;
  }
}

body {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  min-height: 100vh;
  font-size: 1rem; /* Use rem for font sizes */
  margin: 0 auto;
  /* padding: 12px; */
  padding: 0 10px;
  font-family: system-ui;
  line-height: 1.6;
  background: linear-gradient(135deg, #d9e1f6, #f7e5e596, #f3ead3);
  /* border: 1px solid black; */
}

html {
  scroll-behavior: smooth;
  margin: 0;
}

a {
  text-underline-offset: 0.2rem;
  color: black;
}
#content {
  flex-grow: 1;
}

.scroll-to-top {
  position: fixed;
  bottom: 0;
  right: 0;
  border-radius: 3px;
  padding: 8px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: block;
  transition: transform 0.3s ease;
}

.scroll-to-top:hover {
  transform: rotate(180deg);
}

code {
  background: #eee;
  padding: 2px 5px;
  border-radius: 3px;
}

pre code {
  display: block;
  padding: 1rem;
  overflow-x: auto;
}

.spacer-small {
  height: 1rem;
}

.spacer-medium {
  height: 2rem;
}

.spacer-large {
  height: 3rem;
}

.info-box {
  background-color: #f7fbfe;
  border: 1px solid #cdecf0;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: smaller;
}

.article-details {
  font-size: smaller;
  color: #383838;
}

.thinking {
  font-size: small;
  color: #414141;
  padding-left: 10px;
  border-left: 1px solid #ccc;
}

details summary {
  cursor: pointer;
  text-decoration: underline;
  list-style: inside disclosure-closed;
  margin-top: 1.5rem;
}

.h2 {
  font-size: 1.5rem;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  font-weight: bold;
  margin-top: 2rem;
}

ol {
  margin-block-start: 0.5rem;
  padding-inline-start: 1.5rem;
}

ul {
  margin-block-start: 0.5rem;
  padding-inline-start: 1.5rem;
}

.definition-box {
  max-width: 600px;
  border: 1px solid #4444;
  margin-top: 20px;
  /* margin-bottom: 20px; */
  padding: 15px;
  background-color: #fff3;
  border-radius: 5px;
  display: inline-block;
}

.tight-typo {
  line-height: 1.3;
}

.tight-typo p {
  margin: 0.5rem 0;
}

.query {
  border: 1px solid #dfdfdf;
  padding: 10px;
  margin-left: 5rem;
  border-radius: 1rem;
  border-top-right-radius: 0;
  background-color: #f9f9f961;
}

@media screen and (max-width: 600px) {
  .query {
    margin-left: 1rem;
    /* margin-right: 0;
    border-radius: 0;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem; */
  }
}
